{% extends "plantillaBasenav.html" %}


{% block contenido %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 align-self-center"><h1 class="display-1">TIENDA</div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="row" style="padding: 10px 0;">
                    <div class="col-12">
                        <div class="row">
                            {% for producto in productos %}
                            <div class="col-6">
                                <div class="card" style="height: 10rem; width: 23rem; margin: 5px 0px;">
                                    <div class="card-body">
                                        <h5 class="card-title">{{producto.nombre}}</h5>
                                        <p class="card-text">${{producto.precioventa}}</p>
                                        <a href="{% url 'Add' producto.id %}" class="btn btn-primary">agregar al carrito</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                {% include "carrito.html" %}
            </div>
        </div>
    </div>
    
</body>
</html>

{% endblock %}